{% extends "imovel_register/base.html" %}

    {% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weigth-bold">
            <tr>
                <td>Tipo</td>
                <td>Área</td>
                <td>Endereço</td>
                <td>CEP</td>
                <td>Finalidade</td>
                <td>
                    <a href="{% url 'imovel_cadastro' %}" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i> Cadastrar Cliente
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for imovel in imovel_list %}
                <td>{{imovel.tipo}}</td>
                <td>{{imovel.area}}</td>
                <td>{{imovel.endereco}}</td>
                <td>{{imovel.cep}}</td>
                <td>{{imovel.position}}</td>
                <td>
                    <a href="{% url 'imovel_update' imovel.id %}" class="btn text-secondary px0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'imovel_delete' imovel.id %}" method='post'>
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            {% endfor %}
        </tbody>
    </table>

    {% endblock content %}