{% extends "imovel_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
	{% csrf_token %}
	<div class="row">
	<div class="col-md-3">
		{{form.tipo|as_crispy_field}}
	</div>
	<div class="col-md-2">
		{{form.area|as_crispy_field}}
	</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{{form.endereco|as_crispy_field}}
		</div>
		<div class="col-md-2">
			{{form.cep|as_crispy_field}}
		</div>
	</div>
	</div>
	<div class="col-md-2">
		{{form.position|as_crispy_field}}
	</div>
	<div class="row">
		<div class="col-md-8">
			<button type="submit" class="btn btn-sucess btn-block btn-lg"><i class="fa-solid fa-database"></i>Cadastrar</button>
		</div>
		<div class="col-md-4">
			<a href="{% url 'imovel_list' %}" class="btn btn-secondary btn-block btn-lg">
				<i class="fas fa-stream"></i> Voltar
			</a>
		</div>
	</div>
</form>
{% endblock content %}